# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
node_modules/
reports/
coverage/

# Build folder
build/
dist/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE's
.idea/
nbproject
.project
.redcar
*.sublime-*
*.iml
jsconfig.js

# Sonar
.sonar/
.sonar_lock

# Other
.tmp
.DS_Store
.npm_install_log
npm-debug.log
references/
.eslintrc

# screen grabs from tests
/*.png

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

