<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 hidden-xs-down bg-faded sidebar">
            <ul class="xnav xnav-stacked navbar-nav">
                <li class="nav-item active">
                    <span class="icon-dashboard" style="color:azure"></span>
                    <a id="dashboard" routerLink="/case/case-123">
                        Create Case
                    </a>
                </li>
                <li class="nav-item">
                    <span class="icon-upload" style="color:azure"></span>
                    <a id="upload" routerLink="/case/case-123/upload">
                        Upload File
                    </a>
                </li>
                <li class="nav-item">
                    <span class="icon-success" style="color:azure"></span>
                    <a id="search" routerLink="/search">
                        Search
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
